<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mailing:home' %}">Рассылки</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'mailing:home' %}">Главная</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:recipient_list' %}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:message_list' %}">Сообщения</a>
                </li>
                {% if user.is_superuser or user.profile.is_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:user_list' %}">Пользователи</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <span class="nav-link text-light">{{ user.email }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Выход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>